# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Model files
*.pth
*.h5
*.pkl
*.pt
*.onnx

# Large data files
*.zip
*.tar.gz
*.tgz

# Distribution / packaging
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.spyproject/

# Mac OS-specific storage files
*.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

lightning_logs

src/_*.py

src/models/results

src/models/yolo/models
src/models/yolo/results
src/models/yolo/wandb
src/models/yolo/yolov5/runs

*.docx
*.txt

data copy/
old_data/
